{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Item {{ item.title }}</h1>
    <p>{{ item.id }}. {{ item.title }}</p>
    <a href="/items/edit?id={{ item.id }}">Edit</a>
    <a href="/items/delete?id={{item.id}}">Supprimer</a>
    <a href="/items">Back</a>
{% endblock %}
